div.selectContainer {
    background-Color: #fff;
    border-Color: #d9d9d9 #ccc #b3b3b3;
    border-Radius: 4px;
    border: 1px solid #ccc;
    color: #333;
    width: 1200px;
    height: 500px;
    overflow: auto;
    margin: auto;
}

a.selectRow:hover {
    background: gray;
}

.selectRow {
    color: rgb(51, 51, 51);
    display: block;
    padding: 5px 0;
    text-align: center;
    transition: all .5s;
    -webkit-transition: all .5s;
}

.selectRow {
    background: #cccccc;
    border-bottom: 1px solid #fff;
}


/* .selectRow:nth-child(even) {
    background: #cccccc;
    border-bottom: 1px solid #fff;
}

.selectRow:nth-child(odd) {
    background: #cccccc;
    border-bottom: 1px solid #fff;
} */

.selectCell {
    display: inline-block;
    width: 25%;
    height: 30px;
    line-height: 30px;
}