.customer {
    position: relative;
    width: 100%;
    height: 100%;
    /* background: url('/assets/images/customer/bg.png') no-repeat center; */
}

.bgvideo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* .boxShadow {
    box-shadow: -2px 3px 30px 2px #ffffff;
} */

/* .bgvideo:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('/assets/images/customer/bg.png') no-repeat center;
    opacity: .3;
} */

.kehuImg {
    position: absolute;
    left: 40px;
    top: 50px;
}

.value1 {
    font-family: Arial Black;
    font-weight: bold;
    font-size: 48px;
}

.value2 {
    font-family: Arial Black;
    font-weight: bold;
    font-size: 36px;
    float: left;
}